<h4>Progress</h4>
{{view progressForm}}

<h3>Goals</h3>
{{#collection tag="ul"}}
  <li>I will {{activity}} {{measurement}} in {{timeframe}}
{{/collection}}

<h4>Add Goals</h4>
{{view goalForm}}
{{view activityTracker}}
